@import "../../foundation//variables";

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	// ツールバー
	.toolbar {
		width: auto;
		// height: 70px;
		padding-left: 10px;
		padding-right: 10px;
		position: absolute;
		top: 0;
		display: flex;
		border: 1px solid #ededed;
		border-radius: 0 0 10px 10px;

		transform: translateY(0%);
		transition: transform $easeOutExpo 0.3s;

		&.is_hide {
			transform: translateY(-100%);
		}

		li {
			width: 30px;
			height: 30px;
			margin: 15px;
			position: relative;

			a {
				img {
					height: 100%;
				}
			}

			label {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: url(/images/toolbar/divide_bl.svg);
				background-size: contain;

				select {
					width: 10px;
					height: 10px;
					font-size: 0.4rem;
					font-weight: bold;
					text-align: center;
					position: absolute;
					bottom: 0;
					right: 0;
					background-color: #ffffff;
					border: 1px solid #000;
					border-radius: 5px;
					z-index: 1;
				}
			}
		}
	}

	// メインのエディタ画面
	.editor {
		width: 300px;
		height: 300px;
		margin-bottom: 30px;
		position: relative;

		$BORDER: 1px solid #ededed;

		&::before {
			content: "";
			width: 110%;
			height: 100%;
			border-top: $BORDER;
			border-bottom: $BORDER;
			position: absolute;
			top: 0;
			left: -5%;
			pointer-events: none;
		}

		&::after {
			content: "";
			width: 100%;
			height: 110%;
			border-left: $BORDER;
			border-right: $BORDER;
			position: absolute;
			top: -5%;
			left: 0;
			pointer-events: none;
		}

		&.is_upload {
			border: 1px solid #ffffff;
		}

		// play btn
		a {
			width: 20px;
			height: 20px;
			display: inline-block;
			position: absolute;
			bottom: 10px;
			right: 10px;
			background: url(/images/editor/play_bl.svg);
			&.is_stop {
				background: url(/images/editor/stop_bl.svg);
			}
		}
	}

	// ページャー
	.pager {
		overflow: visible;
		position: absolute;
		bottom: 50px;

		ul {
			display: flex;
			flex-wrap: nowrap;
			width: 70px;

			li {
				width: 100%;
				text-align: center;
				// padding-left: 5px;
				// padding-right: 5px;

				a {
				}
			}
		}
	}
}
